@import '../../abstracts/variables';

.productsContainer {
  display: flex;
  font-family: $font-lato;
  justify-content: center;
  align-items: center;
  & section {
    background-color: white;  
    width: 55%;
  }
}