
@import '../../abstracts/variables';

.navContainer {
  display: flex;
  justify-content: space-around;
  height: auto;
  background-color: $color-yellow;
  padding: 16px;
  & img {
    width: 4rem;
  }
}

.form {
  display: flex;
  justify-content: flex-end;
  & input[type='text'] {
    font-family: $font-lato;
    min-width: 520%;
    font-size: 18px;
    padding: 6px;
    border: none;
    outline: none;
    color: $color-black-search
  }
  & input[type='image'] {
    padding: 12px;
    background-color: $color-white-search;
  }
}