// Search products
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100&display=swap');

$font-lato: 'Lato', sans-serif;

$color-yellow: #FFE600; 
$color-black-search: #333333;
$color-gray-search: #999999;
$color-white-search: #EEEEEE;
$color-blue-search: #3483FA;
